<h1>Hello World</h1>

<p>Current Role: <%= current_role %></p>

<% if can? :create, @company %>
	<p>CREATE</p>
<% end %>

<% if can? :read, @company %>
	<p>READ</p>
<% end %>

<% if can? :update, @company %>
	<p>UPDATE</p>
<% end %>

<% if can? :destroy, @company %>
	<p>DESTROY</p>
<% end %>