// Place all the styles related to the Sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sites{
    #managerArea{
        width:400px;
        background:#eee;
        padding:10px;
        margin-bottom:40px;
    }
    
    
}